    <!DOCTYPE html>
    <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
    <div class="home">
        

    <main class="main transformers">
        <div class="left_menu">
            <div class="movie_logo">
                <img src="{{movie_info['img_src']}}" alt="шьп р==аволі(ЩШЛД)">
            </div>
            <form action="{{ url_for('homepage')}}">
                <div class="book_button"><button>Придбати квиток</button></div>
            </form>
        </div>

        <div class="base_info">
            <div class="movie_name">
                <h1>{{movie_info['name']}}</h1>
            </div>

            <div class="movie_short_info">

                <p class="category">Локація:</p>
                <p class="value">Львів, пр. Червоної Калини, 81</p>

                <p class="category">Дата:</p>
                <p class="value">тут буде Дата</p>

                <p class="category">Тривалість:</p>
                <p class="value">{{movie_info['duration']}}  хв</p>

            </div>  
            
            <div class="seat">
                <div class="monitor">
                    <p>Екран</p>
                </div>
                <div class="seats" id="seats"></div>
            </div>
        </div>
        <div class="right_menu">
            <h1>Розклад Сеансів</h1>
            <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="schedule" id="schedule">
            </ul>
        </div>
    </main>

    </div>

    <script>
        const scheduleContainer = document.getElementById("schedule");
        const today = new Date();
        const currentYear = today.getFullYear();
        const currentMonth = today.getMonth();
        const daysInMonth = new Date(currentYear, currentMonth, 0).getDate();
        const firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();

        const hoursForDays = [1, 5, 10, 15, 20];
        const specificHour = "09:00";
        const filmName = "{{ movie_info['name'] }}";

        for (let i = 0; i < firstDayOfMonth; i++) {
            const emptyItem = document.createElement("li");
            emptyItem.classList.add("empty");
            scheduleContainer.appendChild(emptyItem);
        }


        let lastClickedItem = null;

        for (let day = 1; day <= daysInMonth; day++) {
            const date = new Date(currentYear, currentMonth, day);
            const formattedDate = date.toISOString().split("T")[0];

            const listItem = document.createElement("li");
            const timeElement = document.createElement("time");
            timeElement.setAttribute("datetime", formattedDate);
            timeElement.textContent = day;

            listItem.style.backgroundColor = "";  

            if (day === today.getDate()) {
                listItem.classList.add("today");
            }

            listItem.appendChild(timeElement);

            if (hoursForDays.includes(day)) {
                listItem.innerHTML += ` ${specificHour}`;
            }


            listItem.addEventListener("click", function () {
                if (lastClickedItem) {
                    lastClickedItem.style.backgroundColor = ""; 
                }
           
                listItem.style.backgroundColor = "blue"; 
        
                lastClickedItem = listItem;

           
                const selectedDate = formattedDate;
                const selectedHour = specificHour;
                const url = `/book?date=${selectedDate}&hour=${selectedHour}&film=${filmName}`;
            });

            scheduleContainer.appendChild(listItem);
        }


        const seatContainer = document.getElementById("seats");
        const seatPlaces = 120;
        for (let i = 1; i <= seatPlaces; i++) {
            const seatItem = document.createElement("div");
            seatItem.classList.add("place");
            seatContainer.appendChild(seatItem);

            if (i > 112) {                
                seatItem.classList.add("sofa");
                if (i === 112){
                    seatItem.style.backgroundColor = "green";
                }
            }
        }
    </script>

</body>

</html>