<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="fade-in">
  <div class="home">
    <!-- <div class="header-wrapper"> -->
      <header class="header">
        <!-- <div class="overlap"> -->
          <!-- <img class="rectangle" src="/static/img/rectangle-1.svg"/> -->
          <div class="logo">
            <!-- <div class="overlap-group"> -->
              <div class="text-wrapper">Chaplin</div>
              <div class="div">cinema</div>
              <img class="blackhat" src="/static/img/blackhat-1.png" />
            <!-- </div> -->
          </div>
          <div class="header-menu">
            <div class="topbtn-s">
              <div class="dropdown">
                <div class="button-wrapper"><button  class="button" class="button-wrapper" class="dropdown" >локація</button></div>
                <div class="dropdown-content">
                  <a href="#">Львів</a>
                  <a href="#">Долина</a>
                  <a href="#">Моршин</a>
                  <a href="#">Оксанин кінотеатр</a>
                </div>
              </div>
              <form action="{{ url_for('movies')}}">
                <div class="button-wrapper"><button class="button" type="submit">Фільми</button></div>
              </form>
              <div class="button-wrapper"><button class="button">Про нас</button></div>
            </div>
            <img class="ico" src="/static/img/ico.svg" />
          </div>
        </div>
      </header>
    <!-- </div> -->
     <main class="main">

     </main>
  </div>
</body>

</html>