<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">
    <header class="header">
      <div class="logo">
        <div class="text-wrapper">Chaplin</div>
        <div class="div">cinema</div>
        <img class="blackhat" src="/static/img/hat.png" />
      </div>
      <div class="header-menu">
        <div class="topbtn-s">
          <form action="{{ url_for('movies')}}">
            <div class="button-wrapper"><button class="button" type="submit">Фільми</button></div>
          </form>
          <form action="{{ url_for('about')}}">
            <div class="button-wrapper"><button class="button" type="submit">Про нас</button></div>
          </form>
          <div class="dropdown">
            <div class="button-wrapper"><button class="button" class="button-wrapper" class="dropdown">Локація: {{ city
                }}</button>
              <div class="dropdown-content">
                {% for l, c in cities.items() %}
                <a href="{{url_for('homepage')}}?location={{l}}" style="--delay: 0s;">{{c}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="button-wrapper user">
            <form action="{{ url_for('user')}}">
              <div class="button"><button class="button" type="submit">Увійти</button></div>
          </form>
            <div class="ico"></div>
          </div>
        </div>
      </div>
  </div>
  </header>
  <main class="main">
    <!-- Home page's base 360 degris's slider -->

    <section class="slider row">
      <div class="slider-body">
        <div id="slideshow-form" class="slider-item" style="--j--:1">
          <a href="{{ url_for('movie', movie_name='Трансформери: повернення')}}">
            <input type="image" , src="./static/img/photo1.jpg" width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:2">
          <a href="{{ url_for('movie', movie_name='Веном 3')}}">

            <input type="image" , src="./static/img/venomposter.jpg" name="selected_image" value="image5" id="slide5"
            width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:3">
          <a href="{{ url_for('movie', movie_name='Дикий робот')}}">

            <input type="image" , src="./static/img/robotposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:4">
          <a href="{{ url_for('movie')}}">

            <input type="image" , src="./static/img/redposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:5">
          <a href="{{ url_for('movie')}}">

            <input type="image" , src="./static/img/buchaposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:6">
          <a href="{{ url_for('movie')}}">

            <input type="image" , src="./static/img/gladiatorposter.jpg" name="selected_image" value="image" id="slide7"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:7">
          <a href="{{ url_for('movie')}}">
            <input type="image" , src="./static/img/poster07.jpg" name="selected_image" value="image7" id="slide7"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:8">
          <a href="{{ url_for('movie')}}">
            <input type="image" , src="./static/img/wickedposter.jpg" name="selected_image" value="image8" id="slide8"
            width="250" height="350">
          </a>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="prev"> < </button>
            <button class="next">></button>
      </div>

    </section>

    <!-- end home page's base 360 degris's slider -->
  </main>
  <footer class="footer">
    <div class="social_media">
      <p>Соцмережі</p>
      <a href="https://www.instagram.com/chaplin_cinema_lviv?igsh=MzRlODBiNWFlZA=="
        class="footer_info">Chaplin_cinema_lviv</a>
    </div>
    <div class="contacts">
      <p>Контакти</p>
      <p class="footer_info">+38(050)2984715</p>
    </div>
    <div class="map">
      <p>Адрес</p>
      <p class="footer_info">пр. Червоної Калини, 81, Львів</p>
    </div>
  </footer>
  </div>

  <script>
    var carousel = $(".slider-body"),
      currdeg = 0,
      autoplayInterval;

    $(".next").on("click", { d: "n" }, rotate);
    $(".prev").on("click", { d: "p" }, rotate);

    function rotate(e) {
      if (e.data.d == "n") {
        currdeg = currdeg - 45;
      }
      if (e.data.d == "p") {
        currdeg = currdeg + 45;
      }
      carousel.css({
        "-webkit-transform": "rotateY(" + currdeg + "deg)",
        "-moz-transform": "rotateY(" + currdeg + "deg)",
        "-o-transform": "rotateY(" + currdeg + "deg)",
        "transform": "rotateY(" + currdeg + "deg)"
      });
    }

    // Autoplay function
    function startAutoplay() {
      autoplayInterval = setInterval(function () {
        $(".next").trigger("click");
      }, 3000);  // Change 2000 to the desired interval in milliseconds
    }

    startAutoplay();  // Start autoplay initially

    // Stop autoplay on hover and resume on mouse leave
    carousel.on("mouseenter", function () {
      clearInterval(autoplayInterval);
    }).on("mouseleave", startAutoplay);

  </script>

</body>

</html>