<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChaplinCinema</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/globals.css">
</head>
<body class="fade-in">
  <div class="home">
    <div class="header-wrapper">
      <header class="header">
        <div class="overlap">
          <img class="rectangle" src="/static/img/rectangle-1.svg"/>
          <div class="logo">
            <div class="overlap-group">
              <div class="text-wrapper">Chaplin</div>
              <div class="div">cinema</div>
              <img class="blackhat" src="/static/img/blackhat-1.png" />
            </div>
          </div>
          <div class="topbtn-s">
            <form action = "{{ url_for('homepage')}}">
              <div class="button-wrapper"><button class="button" type="submit">Home</button></div>
            </form>
            <div class="button-wrapper"><button class="button">About</button></div>
          </div>
          <img class="ico" src="/static/img/photo.svg" />
        </div>
      </header>
    </div>
  </div>
</body>
</html>