<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
    <div class="home">
        <header class="header">
            <div class="logo">
                <div class="text-wrapper">Chaplin</div>
                <div class="div">cinema</div>
                <img class="blackhat" src="/static/img/hat.png" />
            </div>
            <div class="header-menu">
                <div class="topbtn-s">
                    <form action="{{ url_for('homepage')}}">
                        <div class="button-wrapper"><button class="button" type="submit">Головна</button></div>
                    </form>
                    <form action="{{ url_for('movies')}}">
                        <div class="button-wrapper"><button class="button" type="submit">Фільми</button></div>
                    </form>
                    <div class="button-wrapper"><button class="button">Про нас</button></div>
                    <div class="dropdown">
                        <div class="button-wrapper"><button class="button" class="button-wrapper"
                                class="dropdown">Локація: {{ city
                                }}</button>
                            <div class="dropdown-content">
                                {% for l, c in cities.items() %}
                                <a href="{{url_for('homepage')}}?location={{l}}" style="--delay: 0s;">{{c}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper user">
                        <button class="button">Увійти</button>
                        <div class="ico"></div>
                    </div>
                </div>
            </div>
    </div>
    </header>

    <main class="main transformers">
        <div class="left_menu">
            <div class="movie_logo">
                <img src="{{movie_info['poster']}}" alt="{{movie_info['poster']}}">
            </div>
            <form action="{{ url_for('homepage')}}">
                <div class="book_button"><button>Придбати квиток</button></div>
            </form>
        </div>

        <div class="base_info">
            <div class="movie_name">
                <h1>{{movie_info['fullname']}}</h1>
            </div>

            <div class="movie_short_info">

                <p class="category">Вік:</p>
                <p class="value">{{movie_info['description']['age']}}</p>

                <p class="category">Режисер</p>
                <p class="value">{{movie_info['description']['directot']}}</p>

                <p class="category">Рік</p>
                <p class="value">{{movie_info['description']['year']}}</p>

                <p class="category">Період прокату</p>
                <p class="value">missing</p>

                <p class="category">Жанр</p>
                <p class="value">{{movie_info['description']['genre']}}</p>

                <p class="category">Тривалість</p>
                <p class="value">{{movie_info['description']['duration']}}</p>

                <p class="category">Актори</p>
                <p class="value">{{movie_info['description']['actors']}}</p>

            </div>

            <div class="movie_description">
                <h1>Опис Фільму:</h1>
                <p>{{movie_info['description']['descript']}}</p>
            </div>
            <div class="trailer">
                <video class="treiler" controls poster="{{movie_info['treiler_poster']}}">
                    <source src="{{movie_info['treiler']}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="right_menu">
            <h1>Розклад Сеансів</h1>
            <ul class="weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="schedule" id="schedule"></ul>
        </div>
    </main>

    <footer class="footer movie">
        <div class="social_media">
            <p>Соцмережі</p>
            <a href="https://www.instagram.com/chaplin_cinema_lviv?igsh=MzRlODBiNWFlZA=="
                class="footer_info">Chaplin_cinema_lviv</a>
        </div>
        <div class="contacts">
            <p>Контакти</p>
            <p class="footer_info">+38(050)2984715</p>
        </div>
        <div class="map">
            <p>Адрес</p>
            <p class="footer_info">пр. Червоної Калини, 81, Львів</p>
        </div>
    </footer>
    </div>

    <script>
        const scheduleContainer = document.getElementById("schedule");
        const today = new Date();
        const currentYear = today.getFullYear();
        const currentMonth = today.getMonth();
        const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();

        const firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();

        const urlParams = new URLSearchParams(window.location.search);
        const movieName = urlParams.get('movie_name');


        // const hoursForDays = [1, 5, 10, 15, 20]; // Days with specific hours
        // const specificHour = "09:00";

        // Create empty slots for days before the first day of the month
        for (let i = 0; i < firstDayOfMonth; i++) {
            const emptyItem = document.createElement("li");
            emptyItem.classList.add("empty");
            scheduleContainer.appendChild(emptyItem);
        }

        // Create list items for each day of the month
        for (let day = 1; day <= daysInMonth; day++) {
            const date = new Date(currentYear, currentMonth, day);
            const formattedDate = date.toISOString().split("T")[0];

            const listItem = document.createElement("li");
            const timeElement = document.createElement("time");
            timeElement.setAttribute("datetime", formattedDate);
            timeElement.textContent = day;

            if (day === today.getDate()) {
                listItem.classList.add("today");
            }

            listItem.appendChild(timeElement);

            if (hoursForDays.includes(day)) {
                listItem.innerHTML += ` ${specificHour}`;
            }

            scheduleContainer.appendChild(listItem);
        }
    </script>

</body>

</html>