<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="fade-in">
  <div class="home">

    <header class="header">
      <div class="logo">
        <div class="text-wrapper">Chaplin</div>
        <div class="div">cinema</div>
        <img class="blackhat" src="/static/img/hat.png" />
      </div>
      <div class="header-menu">
        <div class="topbtn-s">
          <form action="{{ url_for('homepage')}}">
            <div class="button-wrapper"><button class="button" type="submit">Головна</button></div>
          </form>
          <div class="button-wrapper"><button class="button">Про нас</button></div>
          <div class="dropdown">
            <div class="button-wrapper"><button class="button" class="button-wrapper" class="dropdown">Локація: {{ city
                }}</button>
              <div class="dropdown-content">
                {% for l, c in cities.items() %}
                <a href="{{url_for('homepage')}}?location={{l}}" style="--delay: 0s;">{{c}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="button-wrapper user">
            <button class="button">Увійти</button>
            <div class="ico"></div>
          </div>
        </div>
      </div>
  </div>
  </header>

  <main class="main movies_catalog">
    <div class="movie 1">
      <form action="{{ url_for('homepage')}}"></form>
      <div class="image"></div>
      <div class="movie_short_description">
        <p>Від легендарного режисера Рідлі Скотта, «Гладіатор II» продовжує епічну сагу
        про владу, помсту та інтриги, події якої відбуваються в Стародавньому Римі. Декілька років тому Луцій став
        свідком вбивства Максимуса від рук свого дядька. Тепер він змушений увійти в Колізей після того як його дім було
        зруйновано імператорами-тиранами, які тепер керують Римом. Оскільки на карту поставлено майбутнє імперії, Луцій
        повинен знайти у собі сили забути минуле та повернути Риму і його народу колишню славу.</p>
        <form action="{{ url_for('transformers')}}">
          <button class="button" type="submit">Детальніше</button>
        </form>
      </div>
    </form>
    </div>
    <div class="movie 2">
      <div class="image"></div>
      <div class="movie_short_description">test</div>
    </div>
    <div class="movie 3">
      <div class="image"></div>
      <div class="movie_short_description">test</div>
    </div>
    <div class="movie 4">
      <div class="image"></div>
      <div class="movie_short_description">test</div>
    </div>
    <div class="movie 5">
      <div class="image"></div>
      <div class="movie_short_description">test</div>
    </div>
  </main>

  <footer class="footer movies_catalog">
    <div class="social_media">
      <p>Соцмережі</p>
      <a href="https://www.instagram.com/chaplin_cinema_lviv?igsh=MzRlODBiNWFlZA=="
        class="footer_info">Chaplin_cinema_lviv</a>
    </div>
    <div class="contacts">
      <p>Контакти</p>
      <p class="footer_info">+38(050)2984715</p>
    </div>
    <div class="map">
      <p>Адрес</p>
      <p class="footer_info">пр. Червоної Калини, 81, Львів</p>
    </div>
  </footer>
  </div>
</body>

</html>