<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="fade-in">
  <div class="home">
    <header class="header">
      <div class="logo">
        <div class="text-wrapper">Chaplin</div>
        <div class="div">cinema</div>
        <img class="blackhat" src="/static/img/hat.png" />
      </div>
      <div class="header-menu">
        <div class="topbtn-s">
          <form action="{{ url_for('homepage')}}">
            <div class="button-wrapper"><button class="button" type="submit">Головна</button></div>
          </form>
          <div class="button-wrapper"><button class="button">Про нас</button></div>
          <div class="dropdown">
            <div class="button-wrapper"><button class="button" class="button-wrapper" class="dropdown">Ваше місто: {{ city }}</button>
              <div class="dropdown-content">
                {% for l, c in cities.items() %}
                <a href="{{url_for('movies')}}?location={{l}}" style="--delay: 0s;">{{c}}</a>
                {% endfor %}
              
              </div>
            </div>
          </div>
          <div class="button-wrapper"><img class="ico" src="./static/img/ico.svg" /></div>
        </div>
      </div>
  </div>
  </header>
  <!-- </div> -->
  <main class="main">
   
  </main>
  <footer class="footer">
    <div class="social_media">
      <p>Соцмережі</p>
      <a href="" class="fa fa-instagram">Chaplin_cinema_lviv</a>
    </div>
    <div class="contacts">
      <p>Контакти</p>
      <p>Телефон: +38(050)2984715</p>
      <p>Адрес: проспект Червоної Калини, 81, Львів, Львівська область, 79066</p>
    </div>
    <div class="map">
      <p>Map</p>
      <a href="">Films</a>
      <a href="">About us</a>
    </div>    
  </footer>
  </div>
</body>

</html>