<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
    <div class="home">
        <header class="header">
            <div class="logo">
                <div class="text-wrapper">Chaplin</div>
                <div class="div">cinema</div>
                <img class="blackhat" src="/static/img/hat.png" />
            </div>
            <div class="header-menu">
                <div class="topbtn-s">
                    <form action="{{ url_for('homepage')}}">
                        <div class="button-wrapper"><button class="button" type="submit">Головна</button></div>
                    </form>
                    <form action="{{ url_for('movies')}}">
                        <div class="button-wrapper"><button class="button" type="submit">Фільми</button></div>
                    </form>
                    <div class="button-wrapper"><button class="button">Про нас</button></div>
                    <div class="dropdown">
                        <div class="button-wrapper"><button class="button" class="button-wrapper"
                                class="dropdown">Локація: {{ city
                                }}</button>
                            <div class="dropdown-content">
                                {% for l, c in cities.items() %}
                                <a href="{{url_for('homepage')}}?location={{l}}" style="--delay: 0s;">{{c}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper user">
                        <button class="button">Увійти</button>
                        <div class="ico"></div>
                    </div>
                </div>
            </div>
    </div>
    </header>

    <main class="main transformers">
        <div class="left_menu">
            <div class="movie_logo"></div>
            <form action="{{ url_for('homepage')}}">
                <div class="book_button"><button>Придбати квиток</button></div>
            </form>
        </div>

        <div class="base_info">
            <div class="movie_name">
                <h1>Трансформери: початок</h1>
            </div>

            <div class="movie_short_info">

                <p class="category">Вік:</p>
                <p class="value">0+</p>

                <p class="category">Режисер</p>
                <p class="value">Рідлі Скотт</p>

                <p class="category">Рік</p>
                <p class="value">2024</p>

                <p class="category">Період прокату</p>
                <p class="value">13.11.2024 - 20.11.2024</p>

                <p class="category">Жанр</p>
                <p class="value">Екшн, Пригоди, Фантастика</p>

                <p class="category">Тривалість</p>
                <p class="value">2:28</p>

                <p class="category">Актори</p>
                <p class="value">Шайа Лабаф, Меґан Фокс, Джош Дюамель, Тайріз Гібсон, Рейчел Тейлор, Ентоні Андерсон</p>

            </div>

            <div class="movie_description">
                <h1>Опис Фільму:</h1>
                <p>Фільм "Трансформери" розповідає про те, як багато століть ведеться війна між двома расами
                    роботів-інопланетян - Автоботами і Десептиконами, ставка в якій - доля Всесвіту. До Землі теж дійшла
                    черга, війна не минула її стороною. Ключ до верховної влади є останньою надією на порятунок. У той
                    час як зло намагається його відшукати, ключ знаходиться в руках у юного землянина.
                    Найпростіший хлопчина Сем Уітвіккі, як і всі підлітки його віку живе звичайним життям: ходить в
                    школу, зустрічається з друзями, захоплюється машинами та дівчатками. Він не підозрює, що він
                    насправді - єдиний шанс на порятунок всього людства. Разом зі своєю подружкою Мікаелою, Сем
                    виявляється в центрі війни трансформерів і розуміє про що говорить сімейний девіз - "Без жертв
                    перемоги немає!".</p>
            </div>
            <div class="trailer">
                <video class="treiler" controls poster="/static/img/photo3.jpg">
                    <source src="/static/media/test.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="right_menu">
            <h1>Розклад Сеансів</h1>
            <ul>
                <li><time datetime="2022-02-01">1</time>09:00</li>
                <li><time datetime="2022-02-02">2</time></li>
                <li><time datetime="2022-02-03">3</time></li>
                <li><time datetime="2022-02-04">4</time></li>
                <li><time datetime="2022-02-05">5</time></li>
                <li><time datetime="2022-02-06">6</time></li>
                <li><time datetime="2022-02-07">7</time></li>
                <li><time datetime="2022-02-08">8</time></li>
                <li><time datetime="2022-02-09">9</time></li>
                <li><time datetime="2022-02-10">10</time></li>
                <li><time datetime="2022-02-11">11</time></li>
                <li><time datetime="2022-02-12">12</time></li>
                <li><time datetime="2022-02-13">13</time></li>
                <li><time datetime="2022-02-14">14</time></li>
                <li><time datetime="2022-02-15">15</time></li>
                <li><time datetime="2022-02-16">16</time></li>
                <li><time datetime="2022-02-17">17</time></li>
                <li><time datetime="2022-02-18">18</time></li>
                <li class="today"><time datetime="2022-02-19">19</time></li>
                <li><time datetime="2022-02-20">20</time></li>
                <li><time datetime="2022-02-21">21</time></li>
                <li><time datetime="2022-02-22">22</time></li>
                <li><time datetime="2022-02-23">23</time></li>
                <li><time datetime="2022-02-24">24</time></li>
                <li><time datetime="2022-02-25">25</time></li>
                <li><time datetime="2022-02-26">26</time></li>
                <li><time datetime="2022-02-27">27</time></li>
                <li><time datetime="2022-02-28">28</time></li>
            </ul>
        </div>
    </main>

    <footer class="footer movie">
        <div class="social_media">
            <p>Соцмережі</p>
            <a href="https://www.instagram.com/chaplin_cinema_lviv?igsh=MzRlODBiNWFlZA=="
                class="footer_info">Chaplin_cinema_lviv</a>
        </div>
        <div class="contacts">
            <p>Контакти</p>
            <p class="footer_info">+38(050)2984715</p>
        </div>
        <div class="map">
            <p>Адрес</p>
            <p class="footer_info">пр. Червоної Калини, 81, Львів</p>
        </div>
    </footer>
    </div>

    <script>

        const today = new Date();
        const options = { weekday: 'short', month: 'long', day: 'numeric' };
        let dateText = today.toLocaleDateString('ua-UA', options);
        // Display the formatted date in the button
        document.querySelector(".calendar").textContent = dateText;

        // <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
        function getDatesToNextThursday(today, options) {
            const dateTextDiv = document.getElementById("weekContainer");

            let currentDate = new Date(today);
            currentDate.setDate(currentDate.getDate() + 1);
            let dateText = '';

            do {
                // Format the date as "Weekday, Month Day, Year"
                const formattedDate = currentDate.toLocaleDateString('ua-UA', options);

                // Create a button for each date
                const dateButton = document.createElement('button');
                dateButton.className = 'day-button';
                dateButton.textContent = formattedDate;

                dateButton.onclick = () => {
                    // Select the .calendar button and update its text
                    const calendarButton = document.querySelector('.calendar');
                    calendarButton.textContent = dateButton.textContent;

                    // Toggle the display of dateButton
                    dateButton.style.display = dateTextDiv.style.display = 'none';
                };

                // Append the button to the container
                weekContainer.appendChild(dateButton);

                // Move to the next day
                currentDate.setDate(currentDate.getDate() + 1);
            } while (currentDate.getDay() !== 4); // Continue until next Thursday

        }

        // Generate the dates as text
        getDatesToNextThursday(today, options);
    </script>

</body>

</html>