@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Koulen:400|Josefin+Slab:400|Inter:400|Itim:400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #169821 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
  color: white;
}