.fade-in {
  opacity: 0.4;
  animation: fadeIn 1s forwards;
  font-family: "Helvetica", Helvetica;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

body {
  background-color: #000000;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(180deg, rgba(128, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
  padding: 15px;
}









.home .header {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: transparent;
  z-index: 2;
}

.home .logo {
  width: 20vw;
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.home .text-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Stencil Std", Helvetica;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

.home .div {
  position: absolute;
  top: 55px;
  left: 170px;
  font-family: "Trebuchet MS", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.35px;
  line-height: 50%;
  white-space: nowrap;
}

.home .blackhat {
  position: absolute;
  width: 370px;
  height: 181px;
  top: -105px;
  left: -100px;
  object-fit: scale-down;
}






 
.home .header-menu li {
  position: relative;
  display: flex;
  align-items: center;
  /* top: -40px; */
  /* right: 20px; */
}

.home .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease-in-out;
}

.home .dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-5px);
  transition: visibility 0s, opacity 0.3s ease;
}

.home .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Josefin Slab", Helvetica;
  font-size: 13px;
  display: block;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: var(--delay);

}

.home .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
  transform: translateY(0);
  display: block;
}

.home .dropbtn:hover {
  background: black;
  transform: scale(1.1);
}

.dropdown-content a:hover {
  transform: scale(1.1);
}






.home .topbtn-s {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

.home .button-wrapper {
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
  border-radius: 15px;
  top: -30px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.home .button-wrapper.user {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.home .button-wrapper:hover {
  background: black;
  transform: scale(1.1);
}

.home .button-wrapper.user:hover .ico {
  background-image: url('/static/img/ico2.svg');
}

.home .button-wrapper.user:hover {
  border-radius: 15px 25px 25px 15px;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: 1px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  padding: 3px 6px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.home .ico {
  position: relative;
  width: 50px;
  height: 50px;
  transition: opacity;
  background-image: url('/static/img/ico.svg');
  background-size: cover;
  transition: background-image 0.5s ease;
}

.main {
  margin: 15px 0;
  margin-top: 30px;
  padding: 15px;
  height: 80vh;
}

.footer {
  height: 100px;
  width: 100vw;
  padding: 15px;
  margin: 35vh 15px 0 0;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.footer div {
  text-align: center;
  border: #ffffff 2px solid;
  border-radius: 25px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.footer p {
  color: white;
  font-family: "Helvetica", Helvetica;
  padding-top: 5%;
}

.footer .footer_info {
  display: none;
  font-size: 18px;
  padding: 7%;
}

.footer .map .footer_info {
  display: none;
  font-size: 18px;
  padding: 2%;
}

.footer div:hover p {
  display: none;
}

.footer div:hover .footer_info {
  display: block;
}

.footer div:hover {
  border: rgba(128, 0, 0, 1) 3px solid;
  height: 50px;
}


/* Home page's base 360 degris's slider */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100vw;
}

.slider {
  width: 30vw;
  margin: 15px auto;
  perspective: 1000px;
}

.slider-body {
  inset: 0;
  margin: 15px;
  width: 65%;
  height: 75%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(45deg * var(--j--))) translateZ(450px);
}

.slider-item:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(calc(45deg * var(--j--))) translateZ(450px) scale(105%);

}

.slider-item input {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.row .button-wrapper {
  position: absolute;
  top: 20vh;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.row .button-wrapper button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border: #ffffff 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.row .button-wrapper button:hover {
  background-color: rgba(128, 0, 0, 1);
  color: black;
  border: #000000 2px solid;
  transition: 0.5s ease-in-out;
}

/* end  home page's base 360 degris's slider*/

/* movies page */

.main.movies_catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  height: auto;
  margin-top: 0px;
}

.main.movies_catalog div {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main.movies_catalog .movie .image {
  width: 70%;
  height: 100%;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in;
}

.main.movies_catalog .movie .image {
  background-image: url("/static/img/photo1.jpg");
}

.main.movies_catalog .movie .movie_short_description {
  color: white;
  display: none;
}

.main.movies_catalog .movie:hover .image {
  width: 60%;
  animation: fade_in_show 1s;
}

.main.movies_catalog .movie:hover .movie_short_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade_in_show 1s ease-in-out;
}

@keyframes fade_in_show {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.main.movies_catalog .movie:hover .movie_short_description button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border: rgba(128, 0, 0, 1) 2px solid;
  border-radius: 25px;
  font-size: 20PX;
  cursor: pointer;
}

.main.movies_catalog .movie:hover .movie_short_description button:hover {
  background-color: rgba(128, 0, 0, 1);
  color: black;
  border: white 2px solid;
}

.footer.movies_catalog {
  margin-top: 0px;
}

/* end movies page */

/* movie's page */

.main.transformers {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-left: 50px;
  height: auto;
}

.main.transformers .left_menu {
  height: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.main.transformers .left_menu .movie_logo img{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-image: url("/static/mini_db/Venom/poster/venomposter.jpg"); */
  /* background-image: url("/static/img/venomposter.jpg"); */
}

.main.transformers .left_menu .movie_logo {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  position: relative;
}

.main.transformers .left_menu .book_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main.transformers .left_menu .book_button button {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: rgba(128, 0, 0, 1) 3px solid;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}

.main.transformers .left_menu .book_button button:hover {
  background-color: rgba(128, 0, 0, 1);
  border-color: #000000;
  transform: scale(105%);
}

.main.transformers .base_info .movie_short_info {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5px;
  color: white;
  width: 100%;
}

.main.transformers .base_info .movie_short_info p {
  margin-bottom: 5px;
}

.main.transformers .base_info {
  height: auto;
  width: 100vw;
  color: white;
  margin-bottom: 15px;
}

.main.transformers .base_info div {
  margin-bottom: 50px;
  line-height: 25px;
}

.main.transformers .base_info div h1 {
  font-size: 30px;
}

.main.transformers .base_info .movie_description h1,
.main.transformers .base_info .movie_shelder h1 {
  margin-bottom: 15px;
}

.main.transformers .base_info .treiler {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.main.transformers .base_info .movie_description {
  color: white;
}

.main.transformers .base_info div p {
  font-size: 16px;
}

.main.transformers .right_menu{
  width: 30vw;
}

.main.transformers .right_menu h1{
  font-size: 20px;
  font-weight: 400;
  color: white;
  width: 100%;
  padding-left: 25%;
  margin-bottom: 15px;
}

.main.transformers .right_menu ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.main.transformers .right_menu .weekdays li{
	color: white;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.main.transformers .right_menu li {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 2px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(128, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: 0.5s;
}

.main.transformers .right_menu .schedule li:hover,
.main.transformers .right_menu .schedule li:hover time{
  color: rgba(128, 0, 0, 1);
  transform: scale(1.2);
}

.main.transformers .right_menu time {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 5px 0;
  color: #000000;
}

.main.transformers .right_menu .today {  
  background: #ffffff70;
}

.main.transformers .right_menu .today time{  
  color: rgba(128, 0, 0, 1);
}


.footer.movie {
  margin-top: 30px;
}
/* end movie's page */

@media (max-width: 360px) {
  .home .header {
    margin-top: 20px;
    padding: 15px;
  }

  .home .logo {
    width: 20vw;
    margin-left: 0px;
    top: -35px;
  }

  .home .text-wrapper {
    top: -3px;
    left: -15px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .home .div {
    top: 20px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  .home .blackhat {
    width: 200px;
    height: 81px;
    top: -50px;
    left: -80px;
  }

  .home .topbtn-s {
    gap: 0px;
    padding: 0px 0px;
  }

  .home .button-wrapper {
    gap: 0px;
    padding: 0px;
    border-radius: 15px;
    top: -30px;
  }

  .home .button-wrapper.user {
    margin: 0px;
    padding: 0;
    gap: 0px;
  }

  .home .ico {
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 5px;
  }

  .home .button {
    margin-top: 1px;
    padding: 5px 5px;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .home .dropdown-content {
    top: 25px;
    padding-top: 10px;
  }
  
  .home .dropdown-content a {
    padding: 6px 14px;
    text-decoration: none;
    font-family: "Josefin Slab", Helvetica;
    font-size: 10px;
    display: block;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition-delay: var(--delay);
  
  }

  .slider {
    width: 90vw;
  }

  .row .button-wrapper button:hover {
    background-color: initial;
    color: white;
    border-color: white;
  }

  .main.transformers {
    flex-direction: column;
    padding: 0 15px;
    margin: 0;
  }

  .main.transformers .left_menu {
    width: 100vw;;
    padding: 0;
    margin: 0;
  }  
  
  .main.transformers .left_menu .movie_logo img{
    width: 90vw;
    padding: 0px 15px;
  }
  
  .main.transformers .left_menu .movie_logo {
    height: 75vh;
    width: 100%;
  }

  .main.transformers .base_info {
    margin-top: 30px;
  }

  .main.transformers .base_info div h1 {
    font-size: 20px;
  }

  .main.transformers .base_info div p {
    font-size: 12px;
  }

  .main.transformers .base_info div {
    line-height: 15px;
  }

  .main.transformers .base_info .movie_short_info {
    width: 95%;
  }

  .main.transformers .base_info .movie_description {
    width: 95%;
  }

  .main.transformers .base_info .treiler {
    width: 95%;
  }

  .main.transformers .right_menu{
    display: none;
  }

  .footer.movie {
    margin-top: -60px;
  }
}