.fade-in {
  opacity: 0.4;
  animation: fadeIn 1s forwards;
  font-family: "Helvetica", Helvetica;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

body {
  background-color: #000000;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(180deg, rgba(128, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
  padding: 15px;
}









.home .header {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: transparent;
  z-index: 2;
}

.home .logo {
  width: 20vw;
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.home .text-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Stencil Std", Helvetica;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

.home .div {
  position: absolute;
  top: 55px;
  left: 170px;
  font-family: "Trebuchet MS", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.35px;
  line-height: 50%;
  white-space: nowrap;
}

.home .blackhat {
  position: absolute;
  width: 370px;
  height: 181px;
  top: -105px;
  left: -100px;
  object-fit: scale-down;
}






 
.home .header-menu li {
  position: relative;
  display: flex;
  align-items: center;
  /* top: -40px; */
  /* right: 20px; */
}

.home .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease-in-out;
}

.home .dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-5px);
  transition: visibility 0s, opacity 0.3s ease;
}

.home .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Josefin Slab", Helvetica;
  font-size: 13px;
  display: block;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: var(--delay);

}

.home .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
  transform: translateY(0);
  display: block;
}

.home .dropbtn:hover {
  background: black;
  transform: scale(1.1);
}

.dropdown-content a:hover {
  transform: scale(1.1);
}






.home .topbtn-s {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

.home .button-wrapper {
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
  border-radius: 15px;
  top: -30px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.home .button-wrapper.user {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.home .button-wrapper:hover {
  background: black;
  transform: scale(1.1);
}

.home .button-wrapper.user:hover .ico {
  background-image: url('/static/img/ico2.svg');
}

.home .button-wrapper.user:hover {
  border-radius: 15px 25px 25px 15px;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: 1px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  padding: 3px 6px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.home .ico {
  position: relative;
  width: 50px;
  height: 50px;
  transition: opacity;
  background-image: url('/static/img/ico.svg');
  background-size: cover;
  transition: background-image 0.5s ease;
}

.main {
  margin: 15px 0;
  margin-top: 30px;
  padding: 15px;
  height: 80vh;
}

.footer {
  height: 100px;
  width: 100vw;
  padding: 15px;
  margin: 35vh 15px 0 0;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.footer div {
  text-align: center;
  border: #ffffff 2px solid;
  border-radius: 25px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.footer p {
  color: white;
  font-family: "Helvetica", Helvetica;
  padding-top: 5%;
}

.footer .footer_info {
  display: none;
  font-size: 18px;
  padding: 7%;
}

.footer .map .footer_info {
  display: none;
  font-size: 18px;
  padding: 2%;
}

.footer div:hover p {
  display: none;
}

.footer div:hover .footer_info {
  display: block;
}

.footer div:hover {
  border: rgba(128, 0, 0, 1) 3px solid;
  height: 50px;
}


/* Home page's base 360 degris's slider */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100vw;
}

.slider {
  width: 30vw;
  margin: 15px auto;
  perspective: 1000px;
}

.slider-body {
  inset: 0;
  margin: 15px;
  width: 65%;
  height: 75%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(45deg * var(--j--))) translateZ(450px);
}

.slider-item:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(calc(45deg * var(--j--))) translateZ(450px) scale(105%);

}

.slider-item input {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.row .button-wrapper {
  position: absolute;
  top: 20vh;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.row .button-wrapper button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border: #ffffff 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.row .button-wrapper button:hover {
  background-color: rgba(128, 0, 0, 1);
  color: black;
  border: #000000 2px solid;
  transition: 0.5s ease-in-out;
}

/* end  home page's base 360 degris's slider*/

/* movies page */

.main.movies_catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  height: auto;
  margin-top: 0px;
}

.main.movies_catalog div {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main.movies_catalog .movie .image {
  width: 70%;
  height: 100%;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-in;
}

.main.movies_catalog .movie .image {
  background-image: url("/static/img/photo1.jpg");
}

.main.movies_catalog .movie .movie_short_description {
  color: white;
  display: none;
}

.main.movies_catalog .movie:hover .image {
  width: 60%;
  animation: fade_in_show 1s;
}

.main.movies_catalog .movie:hover .movie_short_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade_in_show 1s ease-in-out;
}

@keyframes fade_in_show {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.main.movies_catalog .movie:hover .movie_short_description button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border: rgba(128, 0, 0, 1) 2px solid;
  border-radius: 25px;
  font-size: 20PX;
  cursor: pointer;
}

.main.movies_catalog .movie:hover .movie_short_description button:hover {
  background-color: rgba(128, 0, 0, 1);
  color: black;
  border: white 2px solid;
}

.footer.movies_catalog {
  margin-top: 0px;
}

/* end movies page */

/* movie's page */

.main.movie {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-left: 50px;
  height: auto;
}

.main.movie .left_menu {
  height: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.main.movie .left_menu .movie_logo img{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-image: url("/static/mini_db/Venom/poster/venomposter.jpg"); */
  /* background-image: url("/static/img/venomposter.jpg"); */
}

.main.movie .left_menu .movie_logo {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  position: relative;
}

.main.movie .left_menu .book_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main.movie .base_info .book_button {
  display: flex;
  justify-content: center;
  align-items: start;
}

.main.movie .left_menu .book_button button,
.main.movie .base_info .book_button button {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: rgba(128, 0, 0, 1) 3px solid;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}

.main.movie .left_menu .book_button button:hover,
.main.movie .base_info .book_button button:hover {
  background-color: rgba(128, 0, 0, 1);
  border-color: #000000;
  transform: scale(105%);
}

.main.movie .base_info .movie_short_info {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5px;
  color: white;
  width: 100%;
}

.main.movie .base_info .movie_short_info p {
  margin-bottom: 5px;
}

.main.movie .base_info {
  height: auto;
  width: 100vw;
  color: white;
  margin-bottom: 15px;
}

.main.movie .base_info div {
  margin-bottom: 50px;
  line-height: 25px;
}

.main.movie .base_info div h1 {
  font-size: 30px;
}

.main.movie .base_info .movie_description h1,
.main.movie .base_info .movie_shelder h1 {
  margin-bottom: 15px;
}

.main.movie .base_info .treiler {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.main.movie .base_info .movie_description {
  color: white;
}

.main.movie .base_info div p {
  font-size: 16px;
}

.main.movie .right_menu{
  width: 30vw;
}

.main.movie .right_menu h1{
  font-size: 20px;
  font-weight: 400;
  color: white;
  width: 100%;
  padding-left: 25%;
  margin-bottom: 15px;
}

.main.movie .right_menu ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.main.movie .right_menu .weekdays li{
	color: white;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

li {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

li.today {
  font-weight: bold;
}

li:active {
  opacity: 0.7;
}

.main.movie .right_menu li {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 2px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(128, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: 0.5s;
}

.main.movie .right_menu li.today {
  font-weight: bold;
}

.main.movie .right_menu  li:active {
  opacity: 0.7;
}

.main.movie .right_menu .schedule li:hover,
.main.movie .right_menu .schedule li:hover time{
  color: rgba(128, 0, 0, 1);
  transform: scale(1.2);
}

.main.movie .right_menu time {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 5px 0;
  color: #000000;
}

.main.movie .right_menu .today {  
  background: #ffffff70;
}

.main.movie .right_menu .today time{  
  color: rgba(128, 0, 0, 1);
}

.main.movie.booking .base_info button {
  margin-bottom: -30px;
}

.footer.movie {
  margin-top: -100px;
}
/* end movie's page */
/* about page */
.fade-in.about{
  overflow: hidden;
}

.main.about{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100vw;
  margin: -15px 15px 0 -15px;
  gap: 15px;
  overflow: hidden;
}

.main.about .stici_picture{
  height: 75vh;
  width: 50%;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main.about .stici_picture img{
  height: auto;
  width: 100%;
  background-size: cover;
  justify-content: center;
  filter: grayscale(50%);
}



.place {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.sold {
  background-color: gray;
}

.sofa {
  width: 50px;
  height: 30px;
  background-color: transparent;
}

.selected {
  background-color: green; /* Green when selected */
}


.main.about .company_info{
  width: 50%;
  height: 75vh;
  overflow-y: auto;
  scrollbar-color: rgba(128, 0, 0, 0.5) #000000;
  color: white;
  padding: 0 15px;
}

.main.about h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.main.about p,
.main.about li{
  font-size: 20px;
}

.main.about li{
  text-indent: -30px;
  padding-left: 50px;
}

.main.about .company_info div{
  margin-bottom: 30px;
  line-height: 35px;
}

.main.about .gallery{
  width: 100%;
  overflow: hidden;
}

.main.about .gallery img{
  height: 74vh;
  width: 100%;
  background-size: cover;
}

.footer.about{
  width: 45%;
  margin-top: -15vh;
  z-index: 1;
}

.seat{
  width: 80%;
  margin-left: 10%;
}

.seat .monitor{
  width: 100%;
  height: 5px;
  background: black;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px !important;
}

.seat .monitor p{
  text-transform: uppercase;
  padding: 15px;
}

.seat .seats{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  row-gap: 10px;
  column-gap: 0 ;
}

.seat .seats .place{ 
  width: 25px;
  height: 35px;
  border: 2px solid gray;
  margin: 0 25% !important;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.seat .seats .place.sofa{ 
  border: 2px solid rgb(180, 8, 248);
}

.seat .seats .place::after{ 
  content: '100₴'; /* Текст підказки */
  position: absolute;
  bottom: 125%; /* Розташування над елементом */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.seat .seats .place.sofa::after{ 
  content: '120₴';
}

.seat .seats .place:hover:after{
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* end apout page */
/* user page */

.main.user{
  color: white;
  line-height: 25px;
}

.main.user h1{
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.main.user p{
  font-size: 20px;
}

.main.user .login,
.main.user .registration,
.main.user .profile{
  width: 50%;
  padding: 5px;
  margin: 0 25%;
}

.main.user .login{
  height: 50vh;
}

.main.user .login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main.user .registration{
  display: none;
}

.main.user .profile{
  display: none;
}

.main.user .login,
.main.user .registration{
  position: relative;
  justify-content: space-between;
}

.main.user .login img,
.main.user .registration img{
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(30%);
}

.main.user .login .info .inf_text,
.main.user .registration .info .inf_text{
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  width: 45%;
  top: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px black;
}

.main.user .registration .info .inf_text{
  width: 55%;
  top: 35%;
}

.main.user .login .info .inf_text h1,
.main.user .registration .info .inf_text h1{
  font-size: 40px;
  font-weight: 700;
}

.main.user .login .info .inf_text p,
.main.user .registration .info .inf_text p{
  font-size: 30px;
  font-weight: 600;
}

.main.user .login .form,
.main.user .registration .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* padding-right: 30px; */
}

.main.user .login .form input,
.main.user .registration .form input{
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 25px;
}

.main.user .login .form button,
.main.user .registration .form button{
  width: 100%;
  margin: 25px 0 0 0;
  padding: 5px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  background-color: rgba(128, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.main.user .login .form .chenge_form p,
.main.user .registration .form .chenge_form p{
  font-size: 14px;
  text-align: center;
}

.main.user .login .form .chenge_form a,
.main.user .registration .form .chenge_form a{
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.main.user .registration{
  height: 65vh;
}

.main.user .profile{
  height: 50vh;
  gap: 15px;
}

.main.user .profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.main.user .profile .user_info .owner_info,
.main.user .profile .user_info .history .history_info .history_stack{
  display: grid;
  grid-template-columns: 45% 100%;
}

.main.user .profile .user_info div{
  margin-bottom: 30px;
}

.main.user .profile .user_info .history h1{
  text-align: left;
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

.main.user .profile .user_info .history div{
  margin-bottom: 15px;
}

.main.user .profile .user_info .history .history_info{
  display: none;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: black white;
}

.footer.user{
  margin-top: 0;
}
/* end user page */

@media (max-width: 360px) {
  .home .header {
    margin-top: 20px;
    padding: 15px;
  }

  .home .logo {
    width: 20vw;
    margin-left: 0px;
    top: -35px;
  }

  .home .text-wrapper {
    top: -3px;
    left: -15px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .home .div {
    top: 20px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  .home .blackhat {
    width: 200px;
    height: 81px;
    top: -50px;
    left: -80px;
  }

  .home .topbtn-s {
    gap: 0px;
    padding: 0px 0px;
  }

  .home .button-wrapper {
    gap: 0px;
    padding: 0px;
    border-radius: 15px;
    top: -30px;
  }

  .home .button-wrapper.user {
    margin: 0px;
    padding: 0;
    gap: 0px;
  }

  .home .ico {
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 5px;
  }

  .home .button {
    margin-top: 1px;
    padding: 5px 5px;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .home .dropdown-content {
    top: 25px;
    padding-top: 10px;
  }
  
  .home .dropdown-content a {
    padding: 6px 14px;
    text-decoration: none;
    font-family: "Josefin Slab", Helvetica;
    font-size: 10px;
    display: block;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition-delay: var(--delay);  
  }

  .slider {
    width: 90vw;
  }

  .row .button-wrapper button:hover {
    background-color: initial;
    color: white;
    border-color: white;
  }

  .main.movie {
    flex-direction: column;
    padding: 0 15px;
    margin: 0;
  }

  .main.movie .left_menu {
    width: 100vw;;
    padding: 0;
    margin: 0;
  }  
  
  .main.movie .left_menu .movie_logo img{
    width: 90vw;
    padding: 0px 15px;
  }
  
  .main.movie .left_menu .movie_logo {
    height: 75vh;
    width: 100%;
  }

  .main.movie .base_info {
    margin-top: 30px;
  }

  .main.movie .base_info div h1 {
    font-size: 20px;
  }

  .main.movie .base_info div p {
    font-size: 12px;
  }

  .main.movie .base_info div {
    line-height: 15px;
  }

  .main.movie .base_info .movie_short_info {
    width: 95%;
  }

  .main.movie .base_info .movie_description {
    width: 95%;
  }

  .main.movies .base_info .treiler {
    width: 95%;
  }

  .main.movie .right_menu{
    display: none;
  }

  .footer.movie {
    margin-top: -60px;
  }

  .fade-in.about{
    overflow-y: scroll;
  }

  .main.about{
    overflow: unset;
  }

  .main.about .stici_picture{
    display: none;
  }

  .main.about .company_info{
    width: 100%;
    height: 100vh;
    overflow-y: visible;
  }
  
  .main.about h1{
    font-size: 20px;
    font-weight: 600;
  }
  
  .main.about p,
  .main.about li{
    font-size: 12px;
  }
  
  .main.about li{
    text-indent: -16px;
    padding-left: 25px;
  }
  
  .main.about .company_info div{
    margin-bottom: 30px;
    line-height: 15px;
  }

  .main.about .gallery{
    height: 50vh;
  }

  .footer.about{
    width: 100%;
    margin-top: 180px;
    z-index: 0;
  }
  
  .footer div {
    height: 30px;
    width: 100px;
  }
  
  .footer p {
    padding-top: 5%;
  }
  
  .footer .footer_info {
    font-size: 10px;
    padding: 7% 0;
  }
  
  .footer .map .footer_info {
    font-size: 12px;
    padding: 2%;
  }
  
  .footer div:hover {
    height: 30px;
  }

  .footer .map:hover {
    height: 50px;
  }
  
}