.fade-in {
  opacity: 0.4; 
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
html, body{
  background-color: #000000;
  overflow-x: hidden;
}

.home {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vw;
}



.home .header {
  position: relative;
  width: 100vw;
  height: 12vw;
  background: linear-gradient(rgba(128,0,0, 1) 15%, rgba(0,0,0, 0) 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.home .logo {
  width: 20vw;
  top: 0;
  left: 0;
  display: flex;
}


.home .text-wrapper {
  position: absolute;
  top: 25px;
  left: 51px;
  font-family: "Koulen", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 7.8px;
  line-height: normal;
}

.home .div {
  position: absolute;
  top: 96px;
  left: 164px;
  font-family: "Josefin Slab", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.35px;
  line-height: normal;
  white-space: nowrap;
}

.home .blackhat {
  position: absolute;
  width: 330px;
  height: 131px;
  top: -5px;
  left: -10px;
  object-fit: scale-down;
}

.home .header-menu {
  position: relative;
  display: flex;
  align-items: center;  
  top: -40px;
  right: 20px;
}

.home .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease-in-out;
}

.home .dropdown-content {
  opacity: 0;
  max-height: 0;
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.home .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-family: "Josefin Slab", Helvetica;
  font-size: 15px;
  display: block;
  transition: transform 0.3s ease-in-out; 
}

.home .dropdown:hover .dropdown-content {
  visibility: visible; 
  opacity: 1;
  transition-delay: 0s; 
  display: block;
}

.home .dropbtn:hover{
  background: black;
  transform: scale(1.1);
}

.dropdown-content a:hover {
  transform: scale(1.1);
}


.home .topbtn-s {
  position: relative;
  left: -3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

.home .button-wrapper {
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  flex: 0 0 auto;
  border-radius: 15px;
  background-color: linear-gradient(180deg, rgb(111, 13, 13) 0%, rgb(97, 11, 11) 100%);
  transition: transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.home .button-wrapper:hover{
  background-color: black;
  transform: scale(1.1);
}

.home .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: 1px;
  border: none;
  padding: 7px 7px;
  border-radius: 15px;
  overflow: hidden;
  padding: 3px 6px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}


.home .ico {
  position: relative;
  left: -2vw;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
}

.home .ico:hover {
  transform: scale(1.1);
  content: url('/static/img/ico2.svg');
}
